<h1><%= @type.sub('-', ' ').humanize %> import</h1>

<%= form_tag resources_path(type: @type) do %>
  <%= render "importable/errors" %>
  <%= render "importable/extras" %>
  <%= render "actions" %>
<% end %>
