<%= form_tag spreadsheets_path(type: @type) do %>
  <%= render "importable/errors" %>

  <h2>Choose worksheet</h2>

  <% @importer.sheets.each_with_index do |sheet, index| %>
    <table>
      <tr>
        <td>
          <%= radio_button_tag 'default_sheet', index, index.zero? %>
        </td>
        <td>
          <%= label_tag "default_sheet_#{index}", sheet.humanize %>
        </td>
      </tr>
    </table>    
  <% end %>

  <%= hidden_field_tag :id, @importer.id %>
  <%= hidden_field_tag :current_step, 'choose_worksheet' %>

  <%= render "importable/extras" %>
  <%= render "actions", :label => 'Continue' %>
<% end %>
